font-face {
	font-family: "Amplitude-Book"
	src local ("font/Amplitude-Book.otf");
}

.body {
	border: 0px;
	margin: 0px;
	font-family: "Amplitude-Book"
	font-size: 18px;
	letter-spacing: 3px;
}

.tag{
	position: fixed;
	right: 0px;
	top: 0px;
}


.header {
	background: white;
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: solid 1px #D6D7DC;
	color: #000;
	padding-top:40px;
	padding-bottom:40px;
}
.txt {
	color: #534E68;
	padding-top:30px;
	letter-spacing: 3px;
	font-family: "Amplitude-Book"
}
.honor {
	color: #8258B6;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 40px;
	letter-spacing: 3px;
	font-family: "Amplitude-Book"
}
.imagen1 {
	width: 100%;
	height: 550px;
	text-align: center;
	font-size: 11px;
	background-color: #F4F4F4;
	border: 30px;
	border-color: black;
	border-bottom: solid 1px #D6D7DC;
}